body{
  margin: 0;
  padding: 0;
}

$primary: teal;
$secondary: white;
$danger: red;
$border: gray;


@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid $danger;
}

@mixin display-list-item($display){
  margin: 10px;
  display: $display;
}